# ---------------------------------------------------
# FRONTEND (Node.js / Angular)
# ---------------------------------------------------
# Ignora dependencias sin importar en qué subcarpeta estén
node_modules/

# Directorios de compilación y caché de Angular
dist/
.angular/
.npm/

# ---------------------------------------------------
# BACKEND (Java / Spring Boot)
# ---------------------------------------------------
# Ignora las carpetas target de todos los microservicios
target/
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar

# ---------------------------------------------------
# INFRAESTRUCTURA (Terraform)
# ---------------------------------------------------
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
terraform.tfvars

# ---------------------------------------------------
# SEGURIDAD Y ENTORNO
# ---------------------------------------------------
.env
.env.local

# ---------------------------------------------------
# SISTEMA OPERATIVO Y EDITORES (IDE)
# ---------------------------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp